* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    background: #222 center / cover url('img/bg/0.jpg') 
}

header {
    height: 48px;
    width: calc(100vw - 64px);
    padding: 8px 48px 8px 48px;
    background-color: #CE412B;
    color: #FFF;

    position: absolute;
    top: 0;
    left: -16px;

    box-shadow: 0px 8px 16px rgba(0,0,0,.26);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 224px);
    margin: 96px auto 32px auto;
}

footer {
    width: 90vw;
    max-width: 600px;
    height: 64px;
    margin: 0 auto 0 auto;

    overflow: hidden;

    color: #fff;
    opacity: 0.26;
}

div#content {
    background-color: #fff;
    padding: 32px;
    margin: 16px;
    border-radius: 8px;

    box-shadow: 0px 8px 16px rgba(0,0,0,.26);
}

div#content p {
    text-align: center;
}

form[name=daily_decay] {
    width: 90vw;
    max-width: 528px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;

    margin: 16px 0 16px 0;
}

form[name=daily_decay] div{
    width: 18.75vw;
    max-width: 126px;
}

form[name=daily_decay] div img{
    display: block;

    width: 9.375vw;

    max-width: 60px;
    max-height: 60px;

    margin: 0 auto 0 auto;
}

form[name=daily_decay] div input{
    display: block;
    width: 100%;

    border: none;
    border-bottom: 3px solid #CE412B;
    text-align: center;

}

div#tc_display {
    margin: 16px 0 0 0;
}

div#tc_display img.tc_img {
    width: 12.5vw;

    max-width: 80px;
    max-height: 80px;

    margin: 4px;

}